<section class="price-rec">
	<h1 class="description">Enter your Ticket's Barcode</h2>
	<div id="ticket">
		<input id="barcode" type="text" placeholder="Your Ticket's Barcode">
		<button id="submit-barcode" class="button_large button">Get Recommendations</button>
	</div>
	<div class="error-feedback"></div>
</section>