<section class="price-rec">
	<div class="prompt">
		<h1 class="description">Enter your Ticket's Barcode</h2>
		<div id="ticket">
			<input id="barcode" type="text" placeholder="Your Ticket's Barcode">
			<button id="submit-barcode">Get Recommendations</button>
		</div>
		<div class="error-feedback"></div>
	</div>

	<div class="recommendations">
		<div class="tab-nav">
			<span class="tab-selector" id="simple-nav">Recommendation</span>			
			<span class="tab-selector" id="info-nav">Ticket Info</span>
			<span class="tab-selector" id="advanced-nav">Advanced Resale</span>
		</div>
		<div class="tab" id="simple-tab">
			<h2 class="description">Suggested Price</h1>
			<div class="suggestion">$40</div>
		</div>
		<div class="tab" id="info-tab">
			<ul class="ticket-info">
				<li>First thing</li>
				<li>Second thing</li>
				<li>Third thing</li>
			</ul>
		</div>
		<div class="tab" id="advanced-tab">
			<h2 class="description">Price Probabilities over Time</h2>
			<div class="chart-container">Here will go a chart</div>
		</div>
	</div>
</section>