section.price-rec {
	width: 50%;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	border: solid;
	border-width: 1px;
	border-color: lightgrey;
	margin-top: 15px;
	box-shadow: inset 0 3px 3px #dddddd;
}

.price-rec div#ticket {
	text-align: center;
}

.price-rec input#barcode {
	display: block;
	width: 50%;
	margin: auto;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 10px;
}

.error-feedback {
	display: none;
	color: #9f060c;
}

.tab-nav {
	text-align: left;
	background: #cacaca;
	height: 40px;
	line-height: 40px;
}

.tab-selector {
	display: inline;
	margin-right: 30px;
	padding: 12px;
}

.tab {
	display: none;
}
.active-selector {
	background-color: #efefef;
}
.active-tab {
	display: block;
}